* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* overflow: hidden; */
  /* background: url(../../assets/Bee_IA.jpg) fixed center/cover; */
  background: white;
  height: 100vh;
  width: 100vw;
}

.title_app {
  text-align: center;
}

.title_app h1 {
  background: rgba(255, 192, 203, 0.51);
  width: 80%;
  margin: auto;
  align-items: center;
  text-align: center;
  border: solid salmon 2px;
  border-radius: 5px;
}

.title_app p {
  background: rgba(72, 139, 161, 0.427);
  width: 90%;
  margin: 10px auto;
  align-items: center;
  text-align: center;
  border: solid salmon 2px;
  border-radius: 5px;
}

.ifc-property-menu {
  border: 1px solid gray;
  width: 100%;
  position: relative;
  background-color: white;
}

.ifc-property-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.5rem;
  border-bottom: solid 1px gray;
}

.ifc-property-value {
  width: 100%;
  text-align: right;
}

#viewer-container {
  /* position: fixed; */
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.component {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.virt_env {
  display: flex;
  flex-direction: row;
}

.viewer {
  border: 2px solid red;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px;
  height: 100%;
  width: 80%;
  align-items: center;
  overflow: hidden;
}

.data_content {
  border: 2px solid red;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  width: 50%;
}

.data_search {
  border: 2px solid red;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  width: 50%;
}

h3,
h4 {
  align-items: center;
  text-align: center;
}

h3 {
  background: rgba(37, 18, 112, 0.236);
  color: rgb(45, 45, 46);
}

/***** Recherche *****/

.container {
  width: auto;
  /* margin: 5px; */
  align-content: center;
  /* text-align: center; */
}

.input {
  font-size: 20px;
  width: 90%;
  align-items: center;
  text-align: center;
}

.suggestion {
  font-size: 18px;
  width: 90%;
  margin-top: 5px;
}

.suggestion:hover {
  background-color: rgba(36, 36, 36, 0.861);
  color: pink;
}

#responses {
  margin: 10px;
  font-size: 18px;
}

.checkboxes {
  float: left;
  /* position: absolute;
  left: 1rem;
  top: 1rem; */
  border: 1px solid gray;
  /* width: 20rem; */
  width: auto;
  position: absolute;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--translucent-white);
  box-shadow: var(--normal-shadow);
  backdrop-filter: var(--blur-filter);
  top: 20%;
}

span {
  /* background: pink; */
  text-decoration: underline;
  font-style: italic;
  font-size: small;
  z-index: 3;
}

/****************************** Style responsive ********************************/

/* ************** RESPONSIVE *************** */

/* Tablette 1 */
@media (max-width: 1280px) {
  nav {
    /* font-size: 0.8rem;
  } */

}

/* Tablette 2 */
@media (max-width: 1100px) {
  /* * {
    display: flex;
    flex-direction: row;
    width: 100%;
  } */

}

/* Tablette */
@media (max-width: 800px) {
  * {
    /* display: flex; */
  }
}

/* Mobile 1*/
@media (max-width: 570px) {
  * {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .component {
    display: flex;
    flex-direction: row;
    display: block;
    height: 1300px;
  }

  .viewer {
    display: flex;
    flex-direction: row;
    display: block;
    width: 80%;
    margin: auto;
  }


  .checkboxes {
    display: flex;
    flex-direction: column;
    display: block;
    /* width: auto; */
    margin-top: 155%;
    float: left;
    /* position: absolute; */
  }

  .virt_env {
    display: flex;
    flex-direction: row;
    display: block;
    width: 100%;
    margin: auto;
  }
  .data_content {
    width: 80%;
    margin: 15px auto;
  }
  .data_search {
    width: 80%;
    margin: 15px auto;
  }

/* Mobile 2*/
@media (max-width: 400px) {
  * {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .component {
    display: flex;
    flex-direction: row;
    display: block;
    height: 1300px;
  }

  .viewer {
    display: flex;
    flex-direction: row;
    display: block;
    width: 80%;
    margin: auto;
  }

  .checkboxes {
    display: flex;
    flex-direction: column;
    display: block;
    /* width: auto; */
    margin-top: 210%;
    float: left;
    /* position: absolute; */
  }

  .virt_env {
    display: flex;
    flex-direction: row;
    display: block;
    width: 100%;
    margin: auto;
  }
  .data_content {
    width: 80%;
    margin: 15px auto;
  }
  .data_search {
    width: 80%;
    margin: 15px auto;
  }


}
